<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <div class="user-item">
        <div class="user-image">
          <%= image_tag user.photo, alt: user.name, width: '100' %>
        </div>
        <div class="user-info">
          <h2><%= user.name %></h2>
          <div class="user-posts">
          <p>Number of Posts: <%= user.posts_counter %></p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
