<div class="post-details">
  <p><%= @post.title %> by <%= @user.name %></p>
  <p><%= @post.text %></p>
  <div class="comment-likes-container">
    <p>Comments: <%= @post.comments.count %></p>
  </div>
</div>
