<div class="post-details">
  <p><%= @post.title %> by <%= @user.name %><p>
  <p><%= @post.text %></p>
  <div class="comment-likes-container">
  <p>Comments:x</p>
  <p>Likes:y</p>
</div>
</div>
<ul>
  <li>
    <div class="comment-container">
      Username: Comment1
    </div>
  </li>
</ul>
