<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<% confirmation_url = user_confirmation_url(confirmation_token: @token) %>
<p><%= link_to 'Confirm my account', confirmation_url %></p>
